@import 'colors';

.navbar {
    .nav-header {
        margin-left: 25px;
    }
    .searchBar {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
    background-color: $navbar-background;
    color: $navbar-text;
    display: flex;
    border-radius: 10px;
    position: relative;
}