@import 'colors';

.navbar {
    .nav-header {
        margin-left: 25px;
    }
    .searchBar {
        text-align: center;
    }
    background-color: $navbar-background;
    color: $navbar-text;
    display: flex;
    border-radius: 10px;
}